/* ONDE ESTAMOS */

.onde-estamos{
padding:60px 0;
}

.onde-content{
display:flex;
align-items:center;
gap:40px;
}

/* TEXTO */

.onde-texto{
flex:1;
}

.onde-texto h1{
font-size:42px;
color:#455D73;
margin-bottom:20px;
line-height:1.3;
}

.onde-texto p{
font-size:14px;
color:#444;
}

/* IMAGEM */

.onde-imagem{
flex:1;
}

.onde-imagem img{
width:100%;
border-radius:4px;
}


/* MAPA */

.mapa{
padding:60px 0;
}

.mapa h2{
color:#455D73;
margin-bottom:20px;
}

.mapa-container{
width:100%;
height:400px;
background:#ddd;
border-radius:6px;

/* espaço reservado para a API */
display:flex;
align-items:center;
justify-content:center;
color:#777;
font-size:14px;
}