/* BANNER */

.banner{
height:420px;
background:linear-gradient(rgba(255,255,255,0.85), rgba(255,255,255,0.85));
display:flex;
align-items:center;
}


/* BLOG */

.blog{
padding:40px 0;
background:#efefef;
}

.blog-header{
display:flex;
justify-content:space-between;
margin-bottom:20px;
}

.blog-header a{
color:#455D73;
text-decoration:none;
}

.blog-cards{
display:flex;
gap:30px;
}

.card{
width:350px;
}

.card .img{
height:230px;
background:#cfcfcf;
margin-bottom:10px;
}

.card .img img {
    height: 230px;
    width: 350px;
    object-fit: cover;
    cursor: pointer;
}

.card p{
font-size:14px;
}


