/* FALE CONOSCO */

.fale-conosco{
padding:60px 0;
}

.fale-content{
display:flex;
gap:40px;
}

/* LADO ESQUERDO */

.fale-esquerda{
flex:1;
background:url("../imagens/duvidas.png") center/cover no-repeat;
min-height:800px;
display:flex;
align-items:center;
padding:40px;
position:relative;
}

/* LADO DIREITO */

.fale-direita{
flex:1;
padding:20px;
}

.fale-direita h2{
color:#455D73;
margin-bottom:20px;
}

.duvidas{
list-style:none;
}

.duvidas li{
margin-bottom:15px;
color:#444;
cursor:pointer;
}

.duvidas li:hover{
color:#455D73;
}