
@font-face {
    font-family: Cinzel;
    src: url(../fonte/Cinzel/Cinzel-VariableFont_wght.ttf);
}
@font-face {
    font-family: Witt;
    src: url(/fonte/Wittgenstein/Wittgenstein-VariableFont_wght.ttf);
}
.Cliver {
    font-family:Cinzel;
    text-transform: capitalize;
}

*{
margin:0;
padding:0;
box-sizing:border-box;
font-family: Witt;
}

.container{
width:1200px;
margin:auto;
}

/* HEADER */

header{
background:#455D73;
color:white;
}

.header-content{
display:flex;
align-items:center;
justify-content:space-between;
padding:15px 0;
}

.logo{
display:flex;
align-items:center;
gap:10px;
}

.logo img {
    height: 70px;
}

.logo hr {
    display: flex;
    flex-direction: column;
    height: 70px;
}

nav ul{
display:flex;
list-style:none;
gap:30px;
}

nav a{
text-decoration:none;
color:white;
font-size:14px;
}

.header-buttons {
    display: flex;
    gap: 40px;
}

.header-buttons button{ 
width: 150px;
height:36px;
text-align: center;
background-color:#ffffff;
color:#455D73;
border:none;
border-radius:4px;
}

/* FOOTER */

footer{
background:#455D73;
color:white;
}

.footer-logo {
    display: flex;
    flex-direction: row;
    align-items:center;
}

.footer-logo img {
    height: 100px;
}

.footer-content{
display:flex;
justify-content:space-between;
padding:40px 0;
}

.footer-content h4{
margin-bottom:10px;
}

.copyright{
text-align:center;
padding:10px;
border-top:1px solid rgba(255,255,255,0.3);
font-size:14px;
}
body {
    color:#5b5b5b;
}
.fale-conosco {
    color:#5b5b5b
}
.btn-continue {
    padding: 10px;
    border-radius: 9px;
    display: flex;
    flex-direction: center;
    justify-content: center;
    background-color: #597289; /* Consistente com o header */
    color: white;
    border: none;
    padding: 12px 60px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}