/* ===== LOGIN PAGE (ISOLADO NA MAIN) ===== */

.login-main {
    display: flex;
    align-items: center;
    justify-content: center;
    
    min-height: calc(150vh - 160px); 
    
    background: linear-gradient(rgba(69, 93, 115, 0.6), rgba(69, 93, 115, 0.6)), 
                url('../imagens/imagem_fundo_login_paciente.png');
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}


/* Centralização */
.login-wrapper {
    position: relative;
    z-index: 1;
}

/* Card */
.login-card {
    width: 320px;
    padding: 40px 30px;
    background-color: #455D73;
    border-radius: 10px;
    text-align: center;
    color: #fff;
}

/* Logo */
.login-logo img {
    width: 60px;
    height: 60px;
    background: #d9d9d9;
    margin: 0 auto 10px;
}

/* Título */
.login-card h2 {
    font-size: 18px;
    letter-spacing: 2px;
}

.login-card p {
    font-size: 12px;
    opacity: 0.8;
    margin-bottom: 20px;
}

/* Form */
.login-card form {
    text-align: left;
}

.login-card label {
    font-size: 12px;
    display: block;
    margin-bottom: 5px;
}

/* Inputs */
.login-card input {
    width: 100%;
    padding: 8px;
    margin-bottom: 15px;
    border: none;
    border-radius: 5px;
    outline: none;
}

/* Links */
.login-links {
    text-align: center;
    font-size: 11px;
    margin-bottom: 15px;
}

.login-links a {
    display: block;
    color: #ccc;
    text-decoration: none;
    margin: 3px 0;
}

.login-links a:hover {
    text-decoration: underline;
}

/* Botão */
.login-card button {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #3b4f63;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

.login-card button:hover {
    background-color: #2f4052;
}