/* BANNER */

.carrosel{
height:400x;
width:100%;
background:linear-gradient(rgba(255,255,255,0.85), rgba(255,255,255,0.85));
display:flex;
align-items:center;
}
.slides {
    display:flex;
    width:300%;
    animation: slideAnimation 10s infinite;
}
.slide {
    width:100%;
    height:400px;
    object-fit:cover;
    flex-shrink: 0;;
}
@keyframes slideAnimation {
    0% { transform: translateX(0);}
    33% { transform: translateX(0);}

    36% { transform: translateX(-100%);}
    66% { transform: translateX(-100%);}

    69% { transform: translateX(-200%);}
    100% { transform: translateX(-200%);}
}

/* BLOG */

.blog{
padding:40px 0;
background:#efefef;
}

.blog-header{
display:flex;
justify-content:space-between;
margin-bottom:20px;
color:#455D73;
}

.blog-header a{
color:#455D73;
text-decoration:none;
}

.blog-cards{
display:flex;
gap:30px;
}

.card{
width:350px;
}

.card .img{
height:230px;
background:#cfcfcf;
margin-bottom:10px;
}

.card .img img {
    height: 230px;
    width: 350px;
    object-fit: cover;
    cursor: pointer;
}

.card p{
font-size:14px;
color:#5b5b5b;
}



